In [1]:
import seaborn as sns

In [7]:
!pip install dtale

Collecting dtale
  Downloading dtale-1.15.2-py2.py3-none-any.whl (7.6 MB)
Requirement already satisfied: future>=0.14.0 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from dtale) (0.18.2)
Requirement already satisfied: pandas in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from dtale) (1.1.1)
Requirement already satisfied: six in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from dtale) (1.12.0)
Requirement already satisfied: statsmodels in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from dtale) (0.12.0)
Requirement already satisfied: itsdangerous in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from dtale) (1.1.0)
Collecting dash-daq
  Downloading dash_daq-0.5.0.tar.gz (642 kB)
Requirement already satisfied: scipy in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from dtale) (1.5.2)
Collecting dash-bootstrap-components; python_version > "3.0"
  Downloading dash_bootstrap_components-0.10.6-py2.py3-none-any.whl (185 kB)
Collecting squarify
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Collecting lz4; python_version > "3.0"
  Downloading lz4-3.1.0-cp36-cp36m-win_amd64.whl (162 kB)
Collecting xarray
  Downloading xarray-0.16.1-py3-none-any.whl (720 kB)
Requirement already satisfied: scikit-learn>='0.21.0 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from dtale) (0.23.2)
Requirement already satisfied: Flask>=1.0 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from dtale) (1.1.1)
Requirement already satisfied: requests in c:\users\ag95028\appdata\roaming\python\python36\site-packages (from dtale) (2.24.0)
Collecting flask-ngrok; python_version > "3.0"
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Collecting Flask-Compress
  Downloading Flask-Compress-1.5.0.tar.gz (6.5 kB)
Collecting dash>=1.5.0
  Downloading dash-1.16.2.tar.gz (72 kB)
Collecting dash-colorscales
  Downloading dash_colorscales-0.0.4.tar.gz (62 kB)
Requirement already satisfied: pytz>=2017.2 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from pandas->dtale) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from pandas->dtale) (2.8.0)
Requirement already satisfied: numpy>=1.15.4 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from pandas->dtale) (1.18.5)
Requirement already satisfied: patsy>=0.5 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from statsmodels->dtale) (0.5.1)
Requirement already satisfied: setuptools>=38.4 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from xarray->dtale) (49.6.0.post20200814)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from scikit-learn>='0.21.0->dtale) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from scikit-learn>='0.21.0->dtale) (0.16.0)
Requirement already satisfied: click>=5.1 in c:\users\ag95028\appdata\roaming\python\python36\site-packages (from Flask>=1.0->dtale) (7.0)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from Flask>=1.0->dtale) (0.16.0)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from Flask>=1.0->dtale) (2.11.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from requests->dtale) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ag95028\appdata\roaming\python\python36\site-packages (from requests->dtale) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ag95028\appdata\roaming\python\python36\site-packages (from requests->dtale) (1.25.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\ag95028\appdata\roaming\python\python36\site-packages (from requests->dtale) (3.0.4)
Collecting brotli
  Downloading Brotli-1.0.9-cp36-cp36m-win_amd64.whl (365 kB)
Requirement already satisfied: plotly in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from dash>=1.5.0->dtale) (4.10.0)
Collecting dash_renderer==1.8.2
  Downloading dash_renderer-1.8.2.tar.gz (1.0 MB)
Collecting dash-core-components==1.12.1
  Downloading dash_core_components-1.12.1.tar.gz (3.4 MB)
Collecting dash-html-components==1.1.1
  Downloading dash_html_components-1.1.1.tar.gz (188 kB)
Collecting dash-table==4.10.1
  Downloading dash_table-4.10.1.tar.gz (1.8 MB)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0->dtale) (1.1.1)
Requirement already satisfied: retrying>=1.3.3 in c:\users\ag95028\appdata\local\conda\conda\envs\myenv\lib\site-packages (from plotly->dash>=1.5.0->dtale) (1.3.3)
Building wheels for collected packages: dash-daq, Flask-Compress, dash, dash-colorscales, dash-renderer, dash-core-components, dash-html-components, dash-table
  Building wheel for dash-daq (setup.py): started
  Building wheel for dash-daq (setup.py): finished with status 'done'
  Created wheel for dash-daq: filename=dash_daq-0.5.0-py3-none-any.whl size=669706 sha256=f523eb8b85c3614da7a5082c047801ab3d06300575bb8838a8251a44c22546a8
  Stored in directory: c:\users\ag95028\appdata\local\pip\cache\wheels\0d\86\e6\1301ad34bbc93de0e1e582fb233bb16c2603601a9d1d4aa720
  Building wheel for Flask-Compress (setup.py): started
  Building wheel for Flask-Compress (setup.py): finished with status 'done'
  Created wheel for Flask-Compress: filename=Flask_Compress-1.5.0-py3-none-any.whl size=5278 sha256=b066a4b7c1d364ab6fd41fc0e03c910f0abc0e394c54dd35c397e18b9bf94617
  Stored in directory: c:\users\ag95028\appdata\local\pip\cache\wheels\16\2c\19\f840d605a062246c5569086df3694f5d1123f7f3f3a1c82f72
  Building wheel for dash (setup.py): started
  Building wheel for dash (setup.py): finished with status 'done'
  Created wheel for dash: filename=dash-1.16.2-py3-none-any.whl size=82325 sha256=6b087be6717ac5a89adc50f6d6ac74d983896eabe30f5d53320ffdb384a226ac
  Stored in directory: c:\users\ag95028\appdata\local\pip\cache\wheels\19\70\93\e44e07078477403ae085cf811339384f7f4990aff410c49c48
  Building wheel for dash-colorscales (setup.py): started
  Building wheel for dash-colorscales (setup.py): finished with status 'done'
  Created wheel for dash-colorscales: filename=dash_colorscales-0.0.4-py3-none-any.whl size=62603 sha256=7a251bb4e0792d53ba7f798acc5a28cc1c3a3215e2396112acdba164aa5b2758
  Stored in directory: c:\users\ag95028\appdata\local\pip\cache\wheels\f4\ba\12\445015a618574e0740f50926e5473f16cc784aa6f9b4410c8b
  Building wheel for dash-renderer (setup.py): started
  Building wheel for dash-renderer (setup.py): finished with status 'done'
  Created wheel for dash-renderer: filename=dash_renderer-1.8.2-py3-none-any.whl size=1013931 sha256=7b879fa218c8bad9fd47c272c3b828214373611ea78b088aa9d17f6383b01044
  Stored in directory: c:\users\ag95028\appdata\local\pip\cache\wheels\75\02\c5\2cb881af48426fd49dcae8598901f47d942b6136d815911ade
  Building wheel for dash-core-components (setup.py): started
  Building wheel for dash-core-components (setup.py): finished with status 'done'
  Created wheel for dash-core-components: filename=dash_core_components-1.12.1-py3-none-any.whl size=3475400 sha256=bad9e5fe89465ebd2bad70687caf314507fefab3bdeac6ccd0f59bfbfa38f74d
  Stored in directory: c:\users\ag95028\appdata\local\pip\cache\wheels\18\7e\5e\d30d9fcf873aebe3c44564e76ca37b0eae16a20053fd4ead8e
  Building wheel for dash-html-components (setup.py): started
  Building wheel for dash-html-components (setup.py): finished with status 'done'
  Created wheel for dash-html-components: filename=dash_html_components-1.1.1-py3-none-any.whl size=427900 sha256=b5610bc376a3b1cbe919cb75d603475db4d4e25d6c586f285922f0e019888ba1
  Stored in directory: c:\users\ag95028\appdata\local\pip\cache\wheels\ff\d9\16\e059d112e0d37928fda032fd33eb0fb8507a584bf903c8ee20
  Building wheel for dash-table (setup.py): started
  Building wheel for dash-table (setup.py): finished with status 'done'
  Created wheel for dash-table: filename=dash_table-4.10.1-py3-none-any.whl size=1825000 sha256=00ce8ddb07c405e6d88187ad6a37a578d6dc940bf1d9209ddfb358f8065b1d94
  Stored in directory: c:\users\ag95028\appdata\local\pip\cache\wheels\41\db\98\ca192dd4b866cfcf73d981eb61590ee0aed42c976018a6d722
Successfully built dash-daq Flask-Compress dash dash-colorscales dash-renderer dash-core-components dash-html-components dash-table
Installing collected packages: brotli, Flask-Compress, dash-renderer, dash-core-components, dash-html-components, dash-table, dash, dash-daq, dash-bootstrap-components, squarify, lz4, xarray, flask-ngrok, dash-colorscales, dtale
Successfully installed Flask-Compress-1.5.0 brotli-1.0.9 dash-1.16.2 dash-bootstrap-components-0.10.6 dash-colorscales-0.0.4 dash-core-components-1.12.1 dash-daq-0.5.0 dash-html-components-1.1.1 dash-renderer-1.8.2 dash-table-4.10.1 dtale-1.15.2 flask-ngrok-0.0.25 lz4-3.1.0 squarify-0.4.3 xarray-0.16.1

In [2]:
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [3]:
df=sns.load_dataset('planets')

In [4]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [8]:
import dtale

In [20]:
dtale.show(df, ignore_duplicate=True)

In [16]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart = np.histogram(df[~pd.isnull(df['distance'])][['distance']], bins=20)
# main statistics
stats = df['distance'].describe().to_frame().T

In [17]:
stats

          count        mean         std   min    25%    50%    75%     max
distance  808.0  264.069282  733.116493  1.35  32.56  55.25  178.5  8500.0

In [18]:
df.corr()

                  number  orbital_period      mass  distance      year
number          1.000000       -0.012570 -0.241429 -0.033638  0.147849
orbital_period -0.012570        1.000000  0.173725 -0.034365 -0.032333
mass           -0.241429        0.173725  1.000000  0.274082 -0.123787
distance       -0.033638       -0.034365  0.274082  1.000000  0.178922
year            0.147849       -0.032333 -0.123787  0.178922  1.000000

In [10]:
s = df['distance']
q1 = s.quantile(0.25)
q3 = s.quantile(0.75)
iqr = q3 - q1
iqr_lower = q1 - 1.5 * iqr
iqr_upper = q3 + 1.5 * iqr
outliers = dict(s[(s < iqr_lower) | (s > iqr_upper)])

In [11]:
outliers

{39: 500.0,
 40: 500.0,
 93: 680.0,
 100: 460.0,
 102: 560.0,
 103: 1150.0,
 104: 1060.0,
 105: 1340.0,
 106: 840.0,
 107: 920.0,
 108: 870.0,
 109: 770.0,
 110: 1230.0,
 111: 600.0,
 158: 480.0,
 185: 535.0,
 187: 411.0,
 189: 642.0,
 190: 501.0,
 192: 447.0,
 193: 542.0,
 197: 453.0,
 654: 550.0,
 658: 1330.0,
 659: 650.0,
 660: 650.0,
 661: 650.0,
 664: 613.0,
 665: 613.0,
 666: 613.0,
 667: 613.0,
 668: 613.0,
 669: 613.0,
 670: 600.0,
 672: 980.0,
 675: 800.0,
 679: 2119.0,
 680: 2119.0,
 688: 800.0,
 689: 800.0,
 690: 1200.0,
 691: 1200.0,
 701: 1400.0,
 702: 1400.0,
 703: 1400.0,
 704: 1400.0,
 705: 1400.0,
 706: 2100.0,
 707: 2100.0,
 718: 1499.0,
 719: 1645.0,
 720: 470.0,
 721: 470.0,
 725: 600.0,
 726: 1200.0,
 727: 2700.0,
 728: 770.0,
 732: 1950.0,
 733: 2250.0,
 735: 855.0,
 736: 855.0,
 737: 1500.0,
 738: 1500.0,
 776: 1000.0,
 780: 1107.0,
 781: 1107.0,
 787: 1180.0,
 788: 1180.0,
 789: 800.0,
 790: 1330.0,
 791: 1140.0,
 793: 570.0,
 818: 780.0,
 819: 780.0,
 820: 780.0,
 821: 780.0,
 822: 780.0,
 823: 780.0,
 824: 780.0,
 825: 1030.0,
 898: 1056.0,
 901: 2000.0,
 905: 3600.0,
 909: 2300.0,
 910: 2800.0,
 911: 7720.0,
 912: 7560.0,
 924: 2570.0,
 925: 4080.0,
 926: 4080.0,
 927: 1760.0,
 928: 4970.0,
 933: 600.0,
 934: 2500.0,
 938: 1200.0,
 945: 1200.0,
 951: 8500.0,
 952: 8500.0,
 955: 492.0,
 959: 408.0,
 974: 400.0,
 990: 450.0,
 1008: 455.0,
 1011: 400.0,
 1012: 480.0,
 1023: 550.0,
 1026: 470.0,
 1028: 3200.0}